<div class="baralhos-container">
    <h1>Meus Baralhos</h1>
    <div *ngFor="let baralho of baralhos" class="baralho-card">
      <h2>{{ baralho.nome }}</h2>
      <p>Total de Cartas: {{ baralho.cards.length }}</p>
      <p>Total HP: {{ sumHP(baralho.cards) }}</p>
      <div class="actions">
        <button (click)="editarBaralho(baralho)">Editar</button>
        <button (click)="removerBaralho(baralho.nome)">Remover</button>
        <button (click)="verDetalhes(baralho)">Detalhes</button>
      </div>
    </div>
  </div>
  