html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    font-size: 18px; 
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

router-outlet,
.main-content { 
  flex: 1;
}

app-footer {
    margin-top: auto;
    /* Mantém o footer no rodapé */
}

.main-container { /* Opcional: Para melhor organização */
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
  }