.welcome-footer {
    margin-top: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 90px;
    font-size: 1rem;
    p {
        color: #666;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  }
  