<div class="toolbar">
    <img src="assets/pokemon-logo.png" alt="Imagem da logo" class="pokemon-image">
    <h1>Gustavo Vasconcelos</h1>
    <div class="toolbar-right">
      <div class="social-links">
        <a href="https://www.linkedin.com/in/yourprofile" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/yourusername/repository" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </div>
  