<div class="welcome-page">
    <header class="welcome-header">
      <h1>Bem-Vindo ao Gerenciador de Baralhos TCG - <b>Gustavo Vasconcelos</b></h1>
      <p>Prepare-se para gerenciar suas coleções como um comandante!</p>
    </header>
    <img src="assets/pokemon-logo.png" alt="Imagem da logo" class="pokemon-image"> 
    <main class="welcome-content">
      <div class="actions">
        <a routerLink="/ver-baralhos-criados" class="btn">Ver Baralhos Criados</a>
        <a routerLink="/criar-baralho" class="btn btn-primary">Criar Novo Baralho</a>
        <a routerLink="/ver-baralhos-criados" class="btn">Ver Baralhos Criados</a>
        <a routerLink="/criar-baralho" class="btn btn-primary">Criar Novo Baralho</a>
      </div>
    </main>
  </div>
  