.navbar {
  background: #107C10;
  padding: 18px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  li {
    margin: 0 20px;
  }

  a {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.3s;

    &:hover,
    &:focus {
      background-color: #1E8449;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  .router-link-active {
    border-bottom: 3px solid #28B463;
    background-color: #145A32;
  }

  @media (max-width: 768px) {
    ul {
      flex-direction: column;
      align-items: center;
    }

    li {
      margin: 10px 0;
    }
  }
}