.navbar {
  background: #107c10;
  padding: 20px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }

  li {
    a {
      display: flex;
      align-items: center;
      color: white;
      padding: 10px 15px;
      text-decoration: none;

      i {
        margin-right: 8px;
      }

      &:hover {
        background-color: #555;
        border-radius: 25px;
      }
    }

    .router-link-active {
      border-radius: 25px;
      background-color: #007bff;
      color: white;
    }
  }

  @media (max-width: 768px) {
    ul {
      flex-direction: column;
      align-items: center;
    }

    li {
      margin: 10px 0;
    }
  }
}